# haddock3_config.cfg — TYMS dimer + LR octapeptide
run_dir = "run1_TYMS_LR8"
postprocess = true
clean = false

molecules = [
    "receptor.pdb",
    "lig_LR8.pdb",
]

[topoaa]

[rigidbody]
ambig_fname = "airs.tbl"
sampling = 1000

[flexref]
ambig_fname = "airs.tbl"

[mdref]
ambig_fname = "airs.tbl"

[caprieval]
reference_fname = "receptor_chain_a_b_only.pdb"
